@charset "utf-8";
/* CSS Document for Lab-1 
Developed by Eric Ekra
Script Date: May 25, 2025 */


body,
h1,
h2,
h3 {
  font-family: sans-serif, cursive, fantasy, Arial, Helvetica,
    sans-serif;
  background-color: #5c4033;
  line-height: 0.5;
  margin: 0;
  padding: 10px;
  gap: 20px;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.gallery blockquote {
  flex: 1 1 300px;
  max-width: 320px;
  height: 575px;
  background-color: #5c4033;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.video-gallery:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
footer {
  background-color: #5c4033;
  color: #d9c2a0;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 100px;
}
