@charset "utf-8";
/* CSS Document for Lab-1 
Developed by Eric Ekra
Script Date: May 25, 2025 */


body,
h1,
h2,
h3 {
  font-family: sans-serif, cursive, fantasy, Arial, Helvetica,
    sans-serif;
  background-color: #5c4033;
  line-height: 0.5;
  margin: 0;
  padding: 10px;
  gap: 20px;
}
table {
  width: 50%;
  border-collapse: collapse;
  margin: 40px 0;
}
th,
td {
  font-family: "Lobster", cursive, fantasy, Arial, Helvetica, sans-serif;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #d9c2a0;
  color: #5c4033;
  font-size: 1.5em;
}
td {
  background-color: #f0e6d2;
  color: #5c4033;
  font-size: 1.2em;
}
td img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
  float: left; /* Aligns the image to the left */
  transition: transform 0.3s ease;
}

td img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
td:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

footer {
  background-color: #5c4033;
  color: #d9c2a0;
  text-align: center;
  padding: 20px 0;
  position: flex;
  bottom: 100px;
}
