@charset "utf-8";
/* CSS Document for Lab-1 
Developed by Eric Ekra
Script Date: May 25, 2025 */

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
body,
h1,
h2,
h3 {
  font-family: 'Edu NSW ACT Cursive',sans-serif, cursive, fantasy, Arial, Helvetica,
    sans-serif;
  background-color: #B8860B;
  line-height: 0.5;
  margin: 0;
  padding: 10px;
  gap: 20px;
}
.language-switcher {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold;
}
.language-switcher a {
  margin: 0 5px;
  text-decoration: none;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: 40px 0;
}
th,
td {
  font-family: 'Edu NSW ACT Cursive', cursive, fantasy, Arial, Helvetica, sans-serif;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #d9c2a0;
  color: #B8860B;
  font-size: 1.5em;
}

td {
  background-color: #f0e6d2;
  color: #B8860B;
  font-size: 1.2em;
}
td img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
  float: left; /* Aligns the image to the left */
  transition: transform 0.3s ease;
}

td img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
td:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 900px) {
  .video-gallery {
    grid-template-columns: repeat(2, 1fr); /* 2 per row on tablets */
  }
}

@media (max-width: 600px) {
  .video-gallery {
    grid-template-columns: 1fr; /* 1 per row on phones */
  }
}


footer {
  background-color: #B8860B;
  color: #B8860B;
  text-align: center;
  padding: 20px 0;
  position: flex;
  bottom: 100px;
}
