@charset "utf-8";
/* CSS Document for Lab-1 
Developed by Eric Ekra
Script Date: May 25, 2025 */

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
body,
h1,
h2 {
  font-family: 'Edu NSW ACT Cursive',cursive, fantasy, Arial, Helvetica,
    sans-serif;
  background-color: #B8860B;
  line-height: 1.5;
  margin: 0;
  padding: 0px;
  gap: 20px;
}
.h3 {
  font-family: 'Edu NSW ACT Cursive',cursive, fantasy, Arial, Helvetica,
    sans-serif;
  color: #B8860B;
  text-align: center;
  margin-top: 20px;
}
.language-switcher {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold;
}
.language-switcher a {
  margin: 0 5px;
  text-decoration: none;
}
.language-switcher a:hover {
  text-decoration: underline;
}
.service-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.services-list li ul {
  margin: 0 10px;
}

.service-list ul li {
  margin-top: 20px;
  margin: 15px auto; /* Adds vertical spacing between items */
  padding: 20px;
  background-color: #f0e6d2;
  border: 2px solid #B8860B;
  border-radius: 10px;
  width: 80%;
  text-align: left;
  transition: all 0.3s ease;
}
.service-list ul li:hover {
  background-color: #d9c2a0; /* Lighter background on hover */
  transform: scale(1.02); /* Slightly enlarge on hover */
}
.service-list li img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
  float: right; /* Aligns the image to the left */
  transition: transform 0.3s ease;
}
.service-list ul li:hover img {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 900px) {
  .video-gallery {
    grid-template-columns: repeat(2, 1fr); /* 2 per row on tablets */
  }
}

@media (max-width: 600px) {
  .video-gallery {
    grid-template-columns: 1fr; /* 1 per row on phones */
  }
}


footer {
  background-color: #5c4033;
  color: #B8860B;
  text-align: center;
  padding: 20px 0;
  position: flex;
  bottom: 100px;
}
