@charset "utf-8";
/* CSS Document for Lab-1 
Developed by Eric Ekra
Script Date: May 25, 2025 */


body,
h1,
h2 {
  font-family: sans-serif, cursive, fantasy, Arial, Helvetica,
    sans-serif;
  background-color: #5c4033;
  line-height: 1.5;
  margin: 0;
  padding: 0px;
  gap: 20px;
}
.h3 {
  font-family: Lobster, sans-serif, cursive, fantasy, Arial, Helvetica,
    sans-serif;
  color: #d9c2a0;
  text-align: center;
  margin-top: 20px;
}
.service-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.services-list li ul {
  margin: 0 10px;
}

.service-list ul li {
  margin-top: 20px;
  margin: 15px auto; /* Adds vertical spacing between items */
  padding: 20px;
  background-color: #f0e6d2;
  border: 2px solid #5c4033;
  border-radius: 10px;
  width: 80%;
  text-align: left;
  transition: all 0.3s ease;
}
.service-list ul li:hover {
  background-color: #d9c2a0; /* Lighter background on hover */
  transform: scale(1.02); /* Slightly enlarge on hover */
}
.service-list li img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
  float: right; /* Aligns the image to the left */
  transition: transform 0.3s ease;
}
.service-list ul li:hover img {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

footer {
  background-color: #5c4033;
  color: #d9c2a0;
  text-align: center;
  padding: 20px 0;
  position: flex;
  bottom: 100px;
}
