@charset "utf-8";
/* CSS Document for Lab-1 
Developed by Eric Ekra
Script Date: May 25, 2025 */


body,
h1,
h2,
h3 {
  font-family: sans-serif, cursive, fantasy, Arial, Helvetica,
    sans-serif;
  background-color: #5c4033;
  line-height: 2.5;
  margin: 0;
  padding: 10px;
  gap: 20px;
}
.logo {
  background: #5c4033;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.logo img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 10px;
}
.logo img {
  filter: drop-shadow(2px 4px 6px gray);
}

.logo img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

h1 {
  color: black;
  font-size: 3em;
  text-align: center;
}

#navbar ul {
  list-style: none;
  display: flex;
  color: #000000;
  justify-content: center;
  padding: 0;
}
#navbar ul li {
  margin: 0 15px;
}
#navbar a {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
}
#navbar a:hover {
  color: #000000;
  text-shadow: 2px 2px 4px #ffffff; /* Shadow effect */
  transform: scale(1.1); /* Slightly enlarge on hover */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

h2 {
  color: black;
  font-size: 2em;
  text-align: center;
}

.center-text {
  text-align: center;
  font-size: 2.2em;
}
.center-text:hover {
  color: #5c4033; /* Tomato color on hover */
  text-shadow: 2px 2px 4px #000000; /* Shadow effect */
  transform: scale(1.1); /* Slightly enlarge on hover */
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

.services {
  text-align: center;
  padding: 20px;
  background-color: #5c4033;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #5c4033;
}

.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
}
.service-list {
  list-style: none;
  padding: 0;
}

.service-list li {
  font-size: 1.2em;
  padding: 10px;
  margin: 5px 0;
  background: #5c4033;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.service-list li:hover {
  background-color: #5c4033;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.services-list li {
  padding: 5px;
}
.services-list li ul {
  margin: 0 10px;
}

.video-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.video-gallery blockquote {
  flex: 1 1 300px;
  max-width: 320px;
  height: 575px;
  background-color: #5c4033;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.video-gallery:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
footer {
  background-color: #5c4033;
  color: #d9c2a0;
  text-align: center;
  padding: 20px 0;
  position: flex;
  bottom: 100px;
}
